/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* common css  */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* header-part */
header {
  display: flex;
}
.heading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2d25a0;
  height: 700px;
}
.header-title {
  font-size: 64px;
  color: #ffffff;
  margin-left: 156px;
  margin-right: 102px;
  line-height: 99px;
}
.header-title h1 {
  margin: 0;
}
.button {
  padding: 10px 24px;
  background-color: #e02c6d;
  border: none;
  color: #fff;
}
.header-title button i {
  margin: 10px;
}

.header-banner img {
  width: 556px;
  height: 438px;
  margin: 0;
  padding-right: 146px;
  transition: transform 2s;
}
.header-banner img:hover {
  transform: scale(0.5);
}
/* .header-title,
.header-banner {
  margin-top: 0;
  width: 500px;
  height: 400px;
} */

/* player section */
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.container {
  background-color: #ffffff;
  width: 331px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  margin-top: 70px;
  margin-left: 144px;
}
.players {
  width: 330px;
  height: 500px;
  box-shadow: 0 0 10px gray;
  display: inline-block;
}
.players-img img,
.players-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}
.player-img img {
  height: 256px;
  width: 300px;
  padding: 15px;
  padding-bottom: 0;
}
.player-title {
  margin: 0;
}
.player-details {
  width: 300px;
  height: 104px;
  font-weight: 400;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 33px;
}
/* counter */
.counter {
  margin-top: 50px;
  background-image: url(../images/background.jpg);
  height: 300px;
  background-attachment: fixed;
  object-fit: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
}
.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.541);
}
.match,
.trainers,
.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* from  */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.name,
.email {
  margin: 10px;
}
.sing-up {
  margin: 20px;
}
.email {
  padding-left: 5px;
}
/* footer */
footer {
  margin-top: 100px;
}
.buttom-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 262px;
  height: 110px;
}

.fab {
  margin: 0 7px;
  font-size: 18px;
  /* border: 3px solid gray; */
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.596);
  text-align: center;
  padding: 7px;
}
.copyright {
  font-size: 18px;
  text-align: center;
}
/* media queries */

/* moblies devices*/

@media only screen and (max-width: 688px) {
  header {
    flex-direction: column;
    width: 100%;
  }
  .heading {
    height: 100%;
  }
  .header-title {
    margin: 0;
  }
  .heading .header-title h1 {
    width: 100%;
    margin-left: 0;
    font-size: 16px;
  }
  .title {
    width: 420px;
  }
  .button {
    margin-bottom: 20px;
  }
  .header-banner img {
    width: 100%;
    padding-right: 0;
  }
  .heading {
    flex-direction: column;
    width: 100%;
  }
  main {
    width: 100vw;
    display: inline-block;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .numbers {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 170px;
  }
}
/* tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .vsc-initialized {
    width: 1470px;
  }
  .container {
    width: 874px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 290px;
  }
  .counter,
  .contact,
  footer {
    width: 100%;
    justify-self: center;
  }
  .main {
    width: 100%;
  }
}
